html {
  cursor: url("../assets/images/Color_Stroke_Cursor.png"), default;
}

a, button, label, a *, button *, label *, .v-list-item, .v-chip__close, .cursor-pointer {
  cursor: url("../assets/images/Color_Stroke_Pointer.png"), pointer !important;
}

::-webkit-scrollbar {
  width: 16px;
  background: rgb(var(--v-theme-background));
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--v-theme-scrollbar));
  border-radius: 100vh;
  border: 3px solid rgb(var(--v-theme-scrollbar-track));
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: rgb(var(--v-theme-scrollbar-track));
}

html .v-row .v-card {
  border-radius: 15px;
}

.v-row .v-card .v-img, .v-row .v-card img {
  border-radius: 15px 15px 0 0;
}

ul li, ul ul {
  margin-left: 1em;
  @media (min-width: 960px) {
    margin-left: 2em;
  }
}

//main
.v-main {
  min-height: 100vh;
  padding-bottom: 8px!important;

  @media (min-width: 960px) {
    padding-bottom: 36px!important;
  }
}

//nav
.lang-switcher .v-overlay__content {
  transform: translate(-60%, 5px);
}

.v-app-bar.v-toolbar {
  background: rgb(var(--v-theme-background));

  .nav-link {
    color: var(--v-theme-on-background);
    position: relative;
  }

  .nav-link:before {
    content: '';
    position: absolute;
    transition: transform .5s ease;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: rgba(var(--v-theme-info));
    transform: scaleX(0);
  }

  .nav-link:hover:before {
    transform: scaleX(.8);
  }
}

//typography
.header-subtitle {
  opacity: .75;
  line-height: 1.75em;
  font-size: 1em;
  @media (min-width: 600px) {
    line-height: 2em;
    font-size: 1.25em;
  }
}

// sections
.section-background {
  background-color: rgb(var(--v-theme-section));
}

.section-header {
  min-height: calc(100vh - 120px);
  @media (min-width: 960px) {
    min-height: calc(100vh - 64px)
  }
}

.bg-bg {
  background-color: rgb(var(--v-theme-background)) !important;
}

// animation
.fadein {
  transform: translateY(10vh);
  opacity: 0;
  transition: all 1s !important;
}

.fadein.active {
  transform: translateY(0);
  opacity: 1;
}
